*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/bluetooth/build/
/core/wifi/build/
/core/navigation/build
/features/dashboard/build
/features/devices/build
/features/home/build
/features/logs/build
/features/notifications/build
/features/profile/buildtrace_processor
